.container {
  position: relative;
  height: 100vh;
}

.roLL {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labels {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.labels:nth-child(2) {
  top: 15%;
}

.labels:nth-child(3) {
  top: 30%;
}

.labels:nth-child(4) {
  top: 45%;
}
